* {
  padding: 0px;
  margin: 0px;
  font-family: "Oxygen", sans-serif;
  /* background-color: black; */

  color: #c4c4c4;
  /* cursor: none !important; */
}
body {
  background-color: #10101a;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  background: #63fbd7;
}
