* {
  padding: 0px;
  margin: 0px;
  font-family: "Oxygen", sans-serif;
  /* background-color: black; */

  color: #c4c4c4;
  /* cursor: none !important; */
}
body {
  background-color: #10101a;
}

a {
  text-decoration: none;
  cursor: pointer;
}
